@import '../../../assets/styles/variables';

.layout-main {
  &__header {
    background-image: linear-gradient(to right, rgba($color-pink-000, 1), rgba($color-blue-000, 1));
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    padding: 0 20px;
    z-index: 10;

    .header__content {
      align-items: center;
      display: flex;

      .content__title {
        text-decoration: none;
        h1 {
          color: white;
          font-size: 1.4em;
        }
      }
    }

    img {
      width: 120px;
    }
  }
}
