@import '../../assets/styles/variables';

.assets__loading {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  min-height: 90vh;
  color: $color-blue-000;
}
