@import '../../assets/styles/variables';

.main-toolbar {
  background-color: white;
  border-bottom: 1px solid $color-gray-001;
  display: flex;
  justify-content: flex-end;
  padding: 10px;

  a {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    color: $color-gray-000;
    font-size: 0.8em;

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(2) {
      svg {
        width: 20px;
      }
    }

    svg {
      margin-right: 3px;
    }
  }
}
